* {
  margin: 0;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
}

:focus {
  outline: none;
}

header {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  background-color: #172853;
  height: 62px;
  align-items: center;
}

header img {
  width: 174px;
  height: 30px;
  margin-left: 50px;
  margin-right: 10px;
}

header h1 {
  color: #ffffff;
  opacity: 0.6;
  font-weight: 500;
  margin: 0 10px;
  font-size: 22px;
  cursor: pointer;
}

header h1:hover {
  opacity: 0.9;
}

.form-title {
  font-size: 32px;
  color: #172853;
  font-weight: 600;
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px 10px 50px;
}

/*****검색*****/
#searchForm {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#select-category {
  width: 150px;
  height: 30px;
  border: none;
}

.main-header__right-input {
  border: none;
  width: 250px;
  height: 28px;
}

.main-header__right-input::placeholder {
  color: rgba(0, 0, 0, 0.0);
  font-weight: bold;
}

.main-header__right-icon {
  background-color: transparent;
  border: none;
  font-size: 28px;
}
/*************/

#contentForm {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

.table td {
  cursor: pointer;
}

.table {
  width: 100%;
  table-layout: fixed;
}

.thead-dark {
  background-color: #172853;
}

th,
td {
  text-align: center;
}

tr td a {
  color: #000000;
  text-decoration: none;
}

tr td a:hover {
  text-decoration: none;
}

th,
td {
  -ms-overflow-style: none;
  overflow: auto;
  white-space: nowrap;
}

::-webkit-scrollbar {
  display: none !important;
}

thead tr th {
  font-size: 12px;
}

tbody tr th,
tbody tr td {
  font-size: 12px;
}

.th1 {
  width: 3%;
}
.th2 {
  width: 13%;
}
.th3 {
  width: 13%;
}
.th4 {
  width: 10%;
}
.th5 {
  width: 10%;
}
.th6 {
  width: 5%;
}
.th7 {
  width: 5%;
}
.th8 {
  width: 5%;
}
.th9 {
  width: 8%;
}
.th10 {
  width: 26%;
}
.th11 {
  width: 7%;
}
.th12 {
  width: 4%;
}
