
.delete-account__text {
    text-align: center;
    height: 180px;
}

.delete-account__text h3 {
    padding-top: 16px;
    font-weight: 500;
    font-size: 16px;
}

.delete-account__text p {
    padding-top: 8px;
    font-size: 16px;
    color: #797979;
}

.delete-account__button {
    display: flex;
    justify-content: space-between;
    padding: 0px 28px;
}

.delete-button__container input {
    margin: 15px 0;
    background-color: #172853;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    border: none;
    height: 45px;
    font-size: 18px;
}