* {
  margin: 0;
  text-decoration: none;
  font-family: "Noto Sans KR", sans-serif;
}

:focus {
  outline: none;
}

:focus-visible {
  outline: none;
}

header {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  background-color: #172853;
  height: 62px;
  align-items: center;
}

header img {
  width: 174px;
  height: 30px;
  margin-left: 50px;
  margin-right: 10px;
  vertical-align: middle;
}

header h1 {
  color: #ffffff;
  opacity: 0.6;
  font-weight: 500;
  margin: 0 10px;
  font-size: 22px;
  cursor: pointer;
}

header h1:hover {
  opacity: 0.9;
}

.form-title {
  font-size: 32px;
  color: #172853;
  font-weight: 600;
}

.top {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px 10px 50px;
}

/*****검색*****/
#searchForm {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#select-category {
  width: 150px;
  height: 30px;
  border: none;
}

.main-header__right-input {
  border: none;
  width: 250px;
  height: 28px;
}

.main-header__right-input::placeholder {
  color: rgba(0, 0, 0, 0.0);
  font-weight: bold;
}

.main-header__right-icon {
  background-color: transparent;
  border: none;
  font-size: 28px;
}
/*************/

#uploadform {
  margin-top: 20px;
  margin-left: 50px;
}

.form-table {
  border: none;
}

.table-left {
  background-color: #55576f;
  width: 180px;
  height: 36px;
  padding: 0px;
  margin: 0px;
}

.table-right {
  width: 800px;
  height: 36px;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

.table-bottom {
  width: 975px;
  height: 36px;
  padding: 0px;
  margin: 0px;
}

.table-left p {
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}

.input__text {
  width: 798px;
  height: 36px;
}

.table-right__select {
  width: 806px;
  height: 36px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.table-right__select select {
  width: calc(100% / 3);
  height: 36px;
}

.table-right__select select:nth-child(2) {
  margin: 0 2px;
}

.table-right__upload {
  display: flex;
  flex-direction: row;
}

.table-right__upload label {
  width: 118px;
  text-align: center;
  align-items: center;
  line-height: 36px;
  border: solid 1px #6c6c6c;
  font-size: 18px;
  color: rgb(88, 87, 87);
  background-color: #d6d6d6;
}

#file-picker {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

#file-route {
  width: 680px;
  height: 36px;
  border: solid 1px #6c6c6c;
  border-right: none;
  background-color: #ededed;
}

#img-picker {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

#img-route {
  width: 680px;
  height: 36px;
  border: solid 1px #6c6c6c;
  border-right: none;
  background-color: #ededed;
}

#upload {
  width: 988px;
  height: 36px;
  background-color: #55576f;
  color: #ffffff;
  border: none;
  font-size: 18px;
}

#upload:hover {
  background-color: #7e819b;
}

/***콘텐츠 정보***/
.contents-play-audio {
  width: 798px;
  height: 36px;
}

.play-screen__thumbnail {
  border: tomato;
}

.play-screen__thumbnail img {
  width: 210px;
  height: 120px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  vertical-align: middle;
}

.table-right__select input {
  width: calc(100% / 3);
  height: 36px;
}

.table-right__audio {
  width: 798px;
  height: 36px;
  padding: 0px;
  margin: 0px;
  align-items: center;
  background-color: rgba(239, 239, 239, 0.7);
  border: rgba(118, 118, 118, 0.3) 1px solid;
}