<html xmlns:th="https://www.thymeleaf.org">
<body>

<div th:if="${message}">
    <h2 th:text="${message}"/>
</div>

<div>
    <form method="POST" enctype="multipart/form-data" th:object="${contentUploadDTO}" action="/uploadForm">
        <table>
            <tr><td>제목</td><td><input type="text" name="title"></td></tr>
            <tr><td>내용</td><td><input type="text" name="content"></td></tr>
            <tr><td>카테고리1</td><td><select name="category1">
                <option value="">없음</option>
                <option value="호흡">호흡</option>
                <option value="명상">명상</option>
                <option value="힐링">힐링</option>
                <option value="행복">행복</option>
                <option value="수면">숙면</option>
                <option value="관계증진">관계증진</option>
                <option value="집중력">집중력</option>
                <option value="자기이해">자기이해</option>
                <option value="긍정">긍정</option>
                <option value="건강">건강</option>
                <option value="자존감">자존감</option>
                <option value="스트레스">스트레스</option>
                <option value="운동">운동</option>
                <option value="즐거움">즐거움</option>
                <option value="슬픔">슬픔</option>
                <option value="외로움">외로움</option>
                <option value="우울">우울</option>
                <option value="화">화</option>
                <option value="불안">불안</option>
                <option value="게으름">게으름</option>
                <option value="피곤">피곤</option>
                <option value="힘듦">힘듦</option>
                <option value="짬짬히">짬짬히</option>
                <option value="자기계발">자기계발</option>
                <option value="키즈">키즈</option>
                <option value="asmr">asmr</option>
            </select></td></tr>
            <tr><td>카테고리2</td><td><select name="category2">
                <option value="">없음</option>
                <option value="호흡">호흡</option>
                <option value="명상">명상</option>
                <option value="힐링">힐링</option>
                <option value="행복">행복</option>
                <option value="수면">수면</option>
                <option value="관계증진">관계증진</option>
                <option value="집중력">집중력</option>
                <option value="자기이해">자기이해</option>
                <option value="긍정">긍정</option>
                <option value="건강">건강</option>
                <option value="자존감">자존감</option>
                <option value="스트레스">스트레스</option>
                <option value="운동">운동</option>
                <option value="즐거움">즐거움</option>
                <option value="슬픔">슬픔</option>
                <option value="외로움">외로움</option>
                <option value="우울">우울</option>
                <option value="화">화</option>
                <option value="불안">불안</option>
                <option value="게으름">게으름</option>
                <option value="피곤">피곤</option>
                <option value="힘듦">힘듦</option>
                <option value="짬짬히">짬짬히</option>
                <option value="자기계발">자기계발</option>
                <option value="키즈">키즈</option>
                <option value="asmr">asmr</option>
            </select></td></tr>
            <tr><td>카테고리3</td><td><select name="category3">
                <option value="">없음</option>
                <option value="호흡">호흡</option>
                <option value="명상">명상</option>
                <option value="힐링">힐링</option>
                <option value="행복">행복</option>
                <option value="수면">수면</option>
                <option value="관계증진">관계증진</option>
                <option value="집중력">집중력</option>
                <option value="자기이해">자기이해</option>
                <option value="긍정">긍정</option>
                <option value="건강">건강</option>
                <option value="자존감">자존감</option>
                <option value="스트레스">스트레스</option>
                <option value="운동">운동</option>
                <option value="즐거움">즐거움</option>
                <option value="슬픔">슬픔</option>
                <option value="외로움">외로움</option>
                <option value="우울">우울</option>
                <option value="화">화</option>
                <option value="불안">불안</option>
                <option value="게으름">게으름</option>
                <option value="피곤">피곤</option>
                <option value="힘듦">힘듦</option>
                <option value="짬짬히">짬짬히</option>
                <option value="자기계발">자기계발</option>
                <option value="키즈">키즈</option>
                <option value="asmr">asmr</option>
            </select></td></tr>
            <tr><td>file</td><td><input type="file" name="file" /></td></tr>
            <tr><td>img</td><td><input type="file" name="img" /></td></tr>
            <tr><td></td><td><input type="submit" value="Upload" /></td></tr>
        </table>
    </form>
</div>
</body>
</html>