<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOG-IN</title>
</head>
<body>
<div class="G-COACH__title">
    <a th:href="@{/}">
        <img th:src="@{/images/logo.png}">
    </a>
</div>

<main class="main-screen">
    <div class="login-form__title">
        <h1>로그인</h1>
    </div>

    <form th:action="@{/login}" th:method="POST" id="login-form" name="login_form">
        <span>아이디</span>
        <input name="username" type="text" onkeydown="checkSpace()" />
        <span>비밀번호</span>
        <input name="password" type="password" onkeydown="checkSpace()" />
        <label><input type="checkbox" name="auto-login">로그인상태유지</label>
        <input type="button" value="로그인" onclick="login()" />

        <!-- 구글 로그인 -->
        <div class="googlebtn">
            <a class="oauth-container btn darken-4 white black-text" th:href="@{/oauth2/authorization/google}">
                <div class="inside">
                    <img alt="Google sign-in"
                         src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
                    <span>Login with Google</span>
                </div>
            </a>
        </div>
    </form>

    <div class="link-form">
        <a th:href="@{/join}">회원으로 가입하시겠어요?</a>
    </div>
</main>

<script th:src="@{https://kit.fontawesome.com/d1dbd1f9d9.js}" crossorigin="anonymous"></script>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:inline="javascript">
    const msg = [[${msg}]];
    if (msg !== null && msg !== "") {
        alert(msg);
    }

    // 스페이스 입력 제한
    function checkSpace() {
        const kcode = event.keyCode;
        if (kcode === 32) event.returnValue = false;
    }

    const login_form = document.login_form;
    const username = login_form.username
    const password = login_form.password

    function login() {
        if (username.value.length === 0 || username.value === "") {
            username.focus();
            alert("아이디를 입력해주세요");
        } else if (password.value.length === 0 || password.value === "") {
            password.focus();
            alert("비밀번호를 입력해주세요");
        } else if (username.value.length !== 0 && username.value !== "" && password.value.length !== 0 && password.value !== "") {
            login_form.submit();
        }
    }

    username.addEventListener("keypress", function (event) {
        if (event.keyCode === 13) {
            login();
        }
    })

    password.addEventListener("keypress", function (event) {
        if (event.keyCode === 13) {
            login();
        }
    })

</script>
</body>
</html>