<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <title>비밀번호 변경하기</title>
</head>
<body>
    <div class="G-COACH__title-s">
        <a th:href="@{/}">
            <img th:src="@{/images/logo.png}">
        </a>
    </div>

    <main class="serve-screen">
        <div class="nickname__title">
            <h1>비밀번호 변경하기</h1>
        </div>

        <form th:action="@{/profile_changePassword}" th:method="POST" th:object="${memberDTO}" name="changePassword_from">
            <div class="change-container">
                <h3>현재 비밀번호&nbsp;&nbsp;&nbsp;<span id="error_currentPassword"></span></h3>
                <input type="password" name="currentPassword" id="currentPassword" onkeydown="checkSpace()">
            </div>
            <div class="change-container">
                <h3>새 비밀번호&nbsp;&nbsp;&nbsp;<span id="error_newPassword"></span></h3>
                <input type="password" name="password" id="newPassword" onkeydown="checkSpace()">
            </div>
            <div class="change-container">
                <h3>새 비밀번호 확인&nbsp;&nbsp;&nbsp;<span id="error_confirmNewPassword"></span></h3>
                <input type="password" name="confirmPassword" id="confirmNewPassword" onkeydown="checkSpace()">
                <input type="hidden" name="checkPassword" id="checkPassword" th:value="${false}">
            </div>
            <div class="complete-button">
                <input type="button" value="변경" onclick="changePassword()">
            </div>
        </form>
    </main>

    <script th:src="@{https://kit.fontawesome.com/d1dbd1f9d9.js}" crossorigin="anonymous"></script>
    <script th:src="@{jquery/jquery.min.js}"></script>
    <script th:inline="javascript">
        const msg = [[${msg}]];
        if (msg !== null && msg !== "") {
            alert(msg);
        }

        // 스페이스 입력 제한
        function checkSpace() {
            const kcode = event.keyCode;
            if (kcode === 32) event.returnValue = false;
        }

        const changePassword_from = document.changePassword_from;
        const currentPassword = changePassword_from.currentPassword;
        const newPassword = changePassword_from.password;
        const confirmNewPassword = changePassword_from.confirmPassword;
        let checkPassword = changePassword_from.checkPassword;
        console.log("checkPassword : " + checkPassword.value);

        const pwJ = /^(?=.*[0-9])(?=.*[a-zA-Z])(?=.*\W)(?=\S+$).{8,20}$/; // 비밀번호 정규식 - 숫자, 영문, 특수문자 1개이상 을 포함한 8~20자
        let currentPasswordB = false;
        let newPasswordB = false;
        let confirmNewPasswordB = false;

        $('#currentPassword').blur(function () {
            if ($(this).val() !== "" || $(this).val().length !== 0) {
                $.ajax({
                    url: '/checkPassword',
                    type: 'POST',
                    data: {
                        "password": $("#currentPassword").val()
                    },
                    success: function (data) {
                        console.log("currentPassword ajax response date : " + data)
                        if (data === false) {
                            console.log("currentPassword : false");
                            currentPasswordB = false;
                            $('#error_currentPassword').text("현재 비밀번호와 일치하지 않습니다.").css('color', 'red');
                        } else if (data === true) {
                            console.log("currentPassword : true");
                            currentPasswordB = true;
                            $('#error_currentPassword').text("✔").css('color', 'green');
                        }
                    },
                    error: function (error) {
                        console.log("error : " + error);
                        currentPasswordB = false;
                        alert("알수없는 오류가 발생했습니다. 관리자에게 문의해주세요.")
                    }
                })
            }  else if ($(this).val() === "" || $(this).val().length === 0) {
                console.log("currentPassword : false");
                currentPasswordB = false;
                $('#error_currentPassword').text("필수 정보입니다.").css('color', 'red');
            }
        })

        $('#newPassword').blur(function () {
            if ($(this).val() !== "" || $(this).val().length !== 0) {
                if (pwJ.test($(this).val())) {
                    $.ajax({
                        url: '/checkPassword',
                        type: 'POST',
                        data: {
                            "password": $(this).val()
                        },
                        success: function (data) {
                            console.log("newPassword ajax response data : " + data)
                            if (data === false) {
                                console.log("newPassword : true");
                                newPasswordB = true;
                                $('#error_newPassword').text('✔').css('color', 'green');
                            } else if (data === true) {
                                console.log("newPassword : false");
                                newPasswordB = false;
                                $('#error_newPassword').text("현재 비밀번호와 동일합니다. 새로운 비밀번호를 입력해주세요.").css('color', 'red');
                            }
                        },
                        error: function (error) {
                            console.log("error : " + error);
                            newPasswordB = false;
                            alert("알수없는 오류가 발생했습니다. 관리자에게 문의해주세요.")
                        }
                    })
                } else {
                    console.log("newPassword : false");
                    newPasswordB = false;
                    $('#error_newPassword').text("올바른 형식의 비밀번호를 입력해주세요.").css('color', 'red');
                }
            } else {
                console.log("newPassword : false");
                newPasswordB = false;
                $('#error_newPassword').text("필수 정보입니다.").css('color', 'red');
            }
        });

        $('#confirmNewPassword').blur(function () {
            if ($(this).val() !== "" || $(this).val().length !== 0)  {
                if (pwJ.test($(this).val())) {
                    if (newPassword.value !== "" && newPassword.value.length !== 0 && newPassword.value === $(this).val()) {

                        checkPassword.value = true;
                        confirmNewPasswordB = true;
                        console.log("checkPassword : " + checkPassword.value)
                        console.log("confirmNewPassword : true");
                        $('#error_confirmNewPassword').text('✔').css('color', 'green');
                    } else {
                        console.log("confirmNewPassword : false");
                        checkPassword.value = false;
                        confirmNewPasswordB = false;
                        $('#error_confirmNewPassword').text("비밀번호가 일치하지 않습니다.").css('color', 'red');
                    }
                } else {
                    console.log("confirmNewPassword : false");
                    checkPassword.value = false;
                    confirmNewPasswordB = false;
                    $('#error_confirmNewPassword').text("올바른 형식의 비밀번호를 입력해주세요.").css('color', 'red');
                }
            } else {
                console.log("confirmNewPassword : false");
                checkPassword.value = false;
                confirmNewPasswordB = false;
                $('#error_confirmNewPassword').text("필수 정보입니다.").css('color', 'red');
            }
        });

        function changePassword() {
            if (currentPassword.value === "" || currentPassword.value.length === 0) {
                currentPassword.focus();
                $("#error_currentPassword").text("필수 정보입니다.").css('color', 'red');
            } else if (newPassword.value === "" || newPassword.value.length === 0) {
                newPassword.focus();
                $("#error_newPassword").text("필수 정보입니다.").css('color', 'red');
            } else if (confirmNewPassword.value === "" || confirmNewPassword.value.length === 0) {
                confirmNewPassword.focus();
                $("#error_confirmNewPassword").text("필수 정보입니다.").css('color', 'red');
            } else if (currentPasswordB && newPasswordB && confirmNewPasswordB && checkPassword.value) {
                if (password.value === confirmPassword.value) {
                    join_form.submit();
                } else {
                    confirmPassword.focus();
                    $('#E_confirmPassword').text("비밀번호가 일치하지 않습니다.").css('color', 'red');
                }
            }
        }
    </script>
</body>
</html>