.search {
    width: 100%;
    z-index: 100;
    margin: 0;
}

.search_contanier {
    margin-bottom: 10px;
}

.search_contanier input {
    width: 84%;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.search_contanier input::placeholder {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 500;
}

.search_contanier-icon {
    font-size: 28px;
    color: #000;
}

.search_contanier li:nth-child(2) {
    color: #000;
    font-size: 16px;
    padding-top: 10px;
}

.search_contanier li {
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.search_contanier li a {
    width: 100%;
    padding: 8px 0;
    font-size: 14px;
}

.search_contanier {
    display: none;
}
